body{
	background-color:white;
	font-family: gerogia;
	background-image: url(the-bachelor-mansion-today.jpg);
	background-repeat: repeat;
	background-size: 100%;
	margin: 0;
	padding: 0;
}

#wrap{
	width: 80%;
	margin: 0 auto;
	}
	
header img{ width:100%;
			margin: 0 0 0 0;
			padding: 0px;
	

}

header{ 
	background-color:white;
	text-align: center;
}

nav{
	background-color: #db1226;
	padding: 20px;
	text-align: center;
}

nav li {
	display: inline;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav a {
	color: white;
	padding: 20px;
	margin-right: 10px;
	font-family: verdana;
	font-size: 20px;
	text-decoration: none;
}

section{
	background-color: white;
	padding: 30px;
	text-align: left;
	overflow: auto;
}
h1{
	color: #db1226;
	font-size: 30px;
	
}

div.box {
	width: 200px;
	height: 200px;
	background-color: orange;
	border: 10px solid black;
	padding: 10px;
	margin: 10px;
	
}

footer {
	background-color: #db1226;
	padding: 10px;
	text-align: center;
	color: white;
}

.officer{
	width: 50%;
	float: right;
}